# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Vault
.vault-token

# Logs
*.log

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporaires
tmp/
temp/
